<div class="d-flex flex-column align-items-center">
  <span class="description">Be Friends builds technologies and services that enable people to connect with each other, build communities, and
    grow businesses. These Terms govern your use of Be Friends, We Chat, and the other products, features, apps, services,
    technologies, and software we offer (the Be Friends Products or Products), except where we expressly state that
    separate
    terms (and not these) apply. These Products are provided to you by Be Friends Platforms Ireland Limited.</span>
  <span class="description mt-5">We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you (such
    as your name, email address or other contact information) with advertisers unless you give us specific permission.
    Instead, advertisers can tell us things like the kind of audience they want to see their ads, and we show those ads to
    people who may be interested. We provide advertisers with reports about the performance of their ads that help them
    understand how people are interacting with their content.</span>
</div>
