<div class="d-flex justify-content-around align-items-center container-register">
  <div class="container-image">
    <img src="./assets/img/register-image.png" alt="">
  </div>
  <form class="d-flex flex-column justify-content-start">
    <h2 class="mb-4">Register</h2>
    <div class="d-flex flex-column justify-content-start mb-4">
      <label for="firstName">First Name</label>
      <input type="text" placeholder="Ex..Andrei" id="firstName">
    </div>
    <div class="d-flex flex-column justify-content-start mb-4">
      <label for="lastName">Last Name</label>
      <input type="text" placeholder="Ex..Savu" id="lastName">
    </div>
    <div class="d-flex flex-column justify-content-start mb-4">
      <label for="birthday">Birthday</label>
      <input type="date" id="Birthday">
    </div>
    <div class="d-flex flex-column justify-content-start mb-4">
      <label for="email">Email</label>
      <input type="email" placeholder="something@mail.com" id="email">
    </div>
    <div class="d-flex flex-column justify-content-start mb-4">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>
    <div class="d-flex justify-content-center w-100">
      <button mat-raised-button type="submit" color="primary">Sign In</button>
    </div>
  </form>
</div>
