<div class="d-flex flex-column justify-content-center align-items-center container-list mt-5" *ngFor="let post of posts">
  <div class="top d-flex justify-content-start mt-3 mb-3 ml-3">
    <div class="container-image mr-3">
      <img [src]="post.user.profileImage" alt="">
    </div>
    <div class="container-info d-flex flex-column justify-content-start">
       <span>{{post.user.name}}</span>
        <span>{{post.post.createdAt}}</span>
    </div>
  </div>
  <div class="center d-flex flex-column justify-content-center">
    <span class="mb-2">{{post.post.description}}</span>
    <img [src]="post.post.image[0].value" alt="">
  </div>
  <div class="bottom d-flex align-items-center justify-content-start ml-3 mt-3 mb-3">
    <div class="d-flex align-items-center mr-4">
      <mat-icon class="material-icons-outlined mr-2">
        favorite
      </mat-icon>
      <span>{{post.post.likes}}</span>
    </div>
    <div class="d-flex align-items-center">
      <mat-icon class="material-icons-outlined mr-2">
        question_answer
        </mat-icon>
      <span>{{post.post.comments.length}}</span>
    </div>
  </div>
</div>
