<div class="d-flex align-items-center justify-content-center pt-5">
  <carousel [width]="400" [cellWidth]="200" [cellsToShow]="5" [cellsToScroll]="1" [loop]="false" [margin]="0"
    [borderRadius]="25" [arrowsOutside]="true" [arrowsTheme]="'light'" [height]="65"
    [transitionTimingFunction]="'ease-in'" class="dashboard-carousel">
    <div class="caroucel-cell custom-cell" *ngFor="let story of stories">
      <div class="round-image">
        <img [src]="story.userImage" alt="">
      </div>
    </div>
  </carousel>
</div>
