@import "/src/color-palete.scss";


.container-profile {
  background-color: $blue;
  min-height: calc(100vh - 80.97px);
}

.mat-tab-group {
  margin-bottom: 48px;
}

  #userImageProfile {
    height: 140px;
    width: 140px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid $white;
  }
  #uploadImageInput {
    display: none;
  }

.top {
  mat-icon {
    font-size: 25px;
    color: $white;
    cursor: pointer;
  }
  span {
    color: $white;
  }

  .left-arrow {
    font-size: 50px!important;
  }
}

.container-information {
  mat-icon {
    color: $white;
    font-size: 25px;
  }
  span {
    color: $white;
  }
}

.left {
  position: relative;
  right: 37%;
}

.container-images {
  flex-wrap: wrap;
  .container-image-user {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    img {

      width: 100%;
    }
  }
}

.container-list {
  width: 320px;
  background: $gray;
  border-radius: 20px;
  padding: 10px;
}

.top {
  width: 100%;
  .container-image {
    width: 35px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .container-info {
    color: $white;
    span:nth-child(2) {
      font-size: 12px;
    }
  }
}

.center {
  width: 95%;
  img {
    width: 100%;
    border-radius: 20px;
  }
  span {
    color: $white;
  }
}

.bottom {
  width: 100%;
  mat-icon {
    color: $white;
    font-size: 25px;
    cursor: pointer;
  }
  span {
    color: $white;
  }
}

.red {
  color: red!important;
}

.user-on-app {
  text-align: center;
}
