@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

$fontWeight-200: 200;
$fontWeight-300: 300;
$fontWeight-400: 400;
$fontWeight-600: 600;
$fontWeight-700: 700;

$gray: #3a3d46;
$blue: #212832;
$white: #fbfeff;
$white-05: #555762; // pentru footer linia
